/*
  CSS Stylesheet
  April 18, 2024
  Ansel Johns
  Alexander Evans
  Changelog:
  .download-index
  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: whitesmoke;
  font-family: sans-serif;
  /* background: black; */
}

iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Global Button styling*/
button:hover {
  opacity: 50%;
<<<<<<< HEAD
=======
}

/* Global Hovering Styline */
a:hover {
  opacity: 50%;
}

/* Global Em style */
b {
  color: red;
  font-size: 16px;
}

/* Header Styling */
.header-app {
  text-decoration: none;
  color: black;
>>>>>>> 65b59a18a22ca7d685e6810aeec9b3f40cd66c1f
}

a:hover {
  opacity: 50%;
}
/* Header Styling */


.header-app {
  display: inline-block; /* Ensure the anchor element behaves like a block */
  text-align: center; /* Center the content horizontally */
  text-decoration: none; /* Remove underline from the link */
}

.header-app img {
  display: block; /* Display the image as a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.header-app span {
  display: block; /* Display the text as a block element */
  margin-top: 5px; /* Add some spacing between the image and the text */
  font-family: sans-serif;
  color: white;
}


button {
  border: solid transparent 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  background-color: #eae8e8;
  font-size: 14px;
}

button:hover {
  border: solid black 1px;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FF9842;

  grid-row: 1/2;
  grid-column: 1/3;
}

header a {
  padding: 0 10px;
  font-size: 14px;
}

.title-link {
  font-size: 18px;
}

/* #appbar-myprofile-button,
#appbar-register-button,
#appbar-signin-button {
  display: none;
}
 */
/* Intro Page */
img {
  width: fit-content;
  align-self: center;
}

.grid-container {
  display: grid;
/*   background: black; */

  height: 100vh;
  width: 100%;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr 4fr;

  z-index: 1;
}

/* Main Frame [GRID-ITEM]*/
.grid-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1/3;

}

/*[login]*/
.grid-aside {
  display: none;
}



/* Footer [FOOTER] [GRID-ITEM]*/
.grid-footer {
  display: flexbox;
  justify-content: center;
  margin: 1em;
  padding: 1em;

  grid-row-start: 3;
  grid-column: 1/3;
}
/*Registration and login Page*/

.register-bg {
  color: white;
}

/*Container for First Name, Last Name, ... , Re-type Password*/
.main-flex {
  display: flexbox;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
  padding: 2em;

  margin-bottom: 5px;
  padding-bottom: 5px;

}


.grid-register, .grid-item {
  grid-row: 2/3;
  grid-column: 1/3;
}

.grid-main, .grid-container.profile {
  display: none;
}

.register-fail{
  display: none;
  text-align: center;
  color: red;
}

.login-fail{
  display: none;
  text-align: center;
  color: red;
}

.register-form-item {
  display: inline-block;

  text-align: center;

  font-size: 1.5rem;
  margin: 0.25rem;
  padding: 0.25rem;

  width: 100%;
}

.register-form-item-input {
  width: 15em;
  margin-right: 10p x;
}

.goto-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goto-login-item {
  display: inline-block;
  text-align: center;
}

/* Footer styling */
.grid-footer-nonmap {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 1/3;

  margin: 5px;
  padding: 2.5px;
}

footer {
  background: #202020;
  
  color: #c2bdbd;
  height: 100%;
}

.footer-flexbox-list {
  display: inline-block;

  padding: 2.5px;
  margin: 2.5px;

  width: 100%;

  color: #c2bdbd;
}

.footer-item {
  padding: 2em;
  margin: 2em;
  text-decoration: none;
  color: #eecaca;
}

/* Appbar */
#appbar-image {
  display: inline-block;
  
  max-width: 5px;
  max-height: 5px;
}

/* [Button Flipping] */
.appbar-map-link, .appbar-myprofile-link, .appbar-register-button,
.appbar-signout-button, .appbar-signin-button {
  display: none;
}


/*login page */
/*google signing button on login page */
#signin-google {
  display: none;
  background-color:  rgb(219, 68, 55);
  color: white;
}

.grid-login {
  max-width: 1600px;
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  margin: auto
}

/* button {
  max-width: 600px;
  size: 12px;
} */
/* .flexbox-login {
  display: flex;
  flex-direction: column;
  max-width: 800px;
} */

/* Login */
.grid-main {
  padding-top: 100px;
  padding-right: 25%;
  padding-left: 25%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 1/3;
  min-height: 95vh; 
}

.flex-form {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;

}

/* addLocation */
.add-location-box {
  padding: 3px;
  margin: 3px;
  width: 300px;
}

#add-location-error-message {
  display: none;
 /*  display: inline-block; */
  margin: 2px;
  padding: 2px;
  height: 250px;
  color: red;
}

.add-location-error-message-item {
  list-style: none;
  padding: 2px;
/*   padding-top: 10px; */
  margin: 2px;
}

/*Desktop*/
@media only screen and (min-width: 992px) {
  .grid-aside {
    display: inline-block;
    padding: 2em;
    margin: 2em;
  }
  .grid-map {
    width: 50%; /* Set the width to 50% of the viewport */
    position: fixed; /* Position the container */
    top: 0; /* Position from the top */
    right: 0; /* Position from the right */
    height: 100%; /* Make the container full height */
    background-color: #f0f0f0; /* Example background color */
    /* Optionally, you can add other styles like padding, margin, etc. */
    }

  .grid-footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1/2;
  }

  #map {
    height: 100%;
  }

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 1px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  /* Aside Content */
  /* Download and submit buttons and divs */
  .download-index {
    min-width: 200px;
    max-height: 150px;
  
    background-color: #00a94f25;
    
    border-color: white;
    border-width: 5px;
    color: white;
    size: 2em;
    margin: 5px;
  }

  .download-index img {
    display: block; /* Display the image as a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-height: auto;
  }
  
  .download-index span {
    display: block; /* Display the text as a block element */
    margin-top: 5px; /* Add some spacing between the image and the text */
    font-family: sans-serif;
  }

  .download-index:hover {
    border-color: #C4D600;
    border-width: 5px;
  }
}

/* CSS for the green rectangle */
.green-rectangle {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100vh;
  background-color: #00A950;
  z-index: -1;
}

/* Main [MAP] [GRID-ITEM]*/
.grid-map {

  min-width: 65%;
}

/* Container for centered content */
.menu-container {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* CSS for the navigation bar */
.navbar {
  background-color: #00853E;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  border-width: 10px;
}

.header-app a {
  color: white;
  margin-right: 0;
  text-decoration: none;
  border: 4px;
  border-color: red;
  
}

.navbar a img {
  width: auto; /* Adjust the width as needed */
  height: 6vh; /* Maintain aspect ratio */
}

/* CSS for the login form */
.login-form {
  text-align: center;
}

.login-form input {
  display: none;
  margin: 10px auto;
  padding: 5px;
  color: white;
  border: 0px; /* border color to green */
  background-color: #00853E;
}

.login-form input::placeholder {
  color: white; /* Change color of the placeholder text */
}

.login-form button {
  display: none;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #d9d9d9;
  color: #00853E;
  border: none;
  cursor: pointer;
}

.login-form a {
  color: white;
  display: none;
}
h1{
  color: white;
}

/* Help */
#help-form {
  display: none;
}

#help-a {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

#help-img {
  max-width: 100px;
  max-height: 100px;
}

#help-img:hover {
  opacity: 0.5;
  
}

#help-p {
  color: white;
  font-size: 25px;
  letter-spacing: 0.25px;
<<<<<<< HEAD
  margin: 1em 2em 2em 2em;
  text-align:left;
=======
  padding: 0 2em 2em 2em;
  margin: 1em 2em 2em 2em;

>>>>>>> 65b59a18a22ca7d685e6810aeec9b3f40cd66c1f
}

.help-class {
  display: none;
}

/* Delete */
/* Container for dynamic div */
#my-locations-component {
  display: flex;
<<<<<<< HEAD
  align-items: center;
=======
  align-items: left;
>>>>>>> 65b59a18a22ca7d685e6810aeec9b3f40cd66c1f
  color: white;
  flex-direction: column;
}

.location-container {
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
/* Dynamic Div*/
.dynamic-delete-div {
  display: inline-block;
}
<<<<<<< HEAD
=======

.delete-button-div {
  display: flex;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
}
>>>>>>> 65b59a18a22ca7d685e6810aeec9b3f40cd66c1f
/*css for the profile info*/

/* Add styles to the form container */
.form-container {
  padding: 1px;
  background-color: white;
}

.form-popup {
  display: none;
  position: static;
  top: 20%;
  border: 3px solid #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#ChangePasswordBtn{
  position: relative;
  margin-top: 15px;
  margin-left: 120px;
  padding: 10px;
  border-radius: 12px;
}



.edit-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 1px 1px 1px 1px;
}

.profile-info-item {
  height: 55px;
  align-items: center;
  /* Align containers of first name, etc to middle of item box vertically*/
}

.profile-info-category,
.profile-info-value,
.edit {
  display: inline-block;
  border-radius: 5px;
  overflow: clip;
  /* Clear any potential margin or padding inside */
  height: 55px;
  /* Set a fixed height for the blue boxes */
}

.edit {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 60px;
}

.profile-actions,
.profile-info-item {
  margin-top: 2px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.profile-type-and-value-container {
  margin: 10px;
  display: flex;
  border: none;

  /* Adjust the margin to add space around the container */
}


.profile-info-value {
  width: 250px;
  text-align: left;
  display: flex;

}


.grid-profile-info{
  display: inline-block;
<<<<<<< HEAD
=======
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3vw;
>>>>>>> 65b59a18a22ca7d685e6810aeec9b3f40cd66c1f
}
/* .grid-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1/3;
} */

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#floating-panel {
  position: relative;
  z-index: 5;
<<<<<<< HEAD
  line-height: 30px;
  display: inline-block;
  color: white;
}

#mode {
  background-color:#00853E;
  align-items: center;
  color: white;
  border-width: 0px;
  line-height: 30px;
}

=======
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  display: inline-block;
  color: white;
}
>>>>>>> 65b59a18a22ca7d685e6810aeec9b3f40cd66c1f
